<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{!editMode ? 'Nuevo producto': 'Editar producto'}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="productForm">
    <ion-grid>
      <ion-item-divider>
        <ion-label>
          Información basica
        </ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label position="floating">Sku</ion-label>
            <ion-input type="text" formControlName="sku"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider>
        <ion-label>
          Información detalle
        </ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input  labelPlacement="floating" type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-divider>
        <ion-label>
          Información adicional
        </ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label position="floating">Categor&iacute;a</ion-label>
            <ion-select  labelPlacement="floating" placeholder="Seleccione una categoria" formControlName="category">
              <ion-select-option *ngFor="let category of categories"
                [value]="category.name">{{category.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label position="floating">Foto</ion-label>
            <ion-input labelPlacement="floating" type="text" formControlName="photo"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button class="btnFill" expand="block" fill="outline" (click)="!editMode? addProduct():updateProduct()"
            [disabled]="!productForm.valid">
            <ion-icon slot="start" name="add"></ion-icon> &nbsp;
            <div>Guardar</div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>